---
layout: default
title: Nomade Dreamer
seo:
  title: Nomade Dreamer Home Page
  description: |-
    Travel & lifestyle blog. 
    Tips for places to go, to eat, spa and more...
  social_image:
  twitter_card:
  keywords: travel blog, lifestyle blog, life abroad, city trips, photography
  hide-from-google: false
---
<!------------------------ Image Banner  ------------------------>
<section class="bg-image padded grid bg-overlay tall-90">

    <div class="col-12-middle center text-light">
        <h2> Travel. Eat. Chill. </h2>
        <p class="emphasis"> By Mélissa </p>
    </div>

</section>

<!------------------------ Featured blog loop ------------------------>
<section class="padded">

    <div class="capped-width grid-center">

    <div class="col-12 padded-05 center margin-b-1">
        <h2> Featured Posts </h2>
        <p>Looking for something special? Check out those posts.</p>
    </div>

        {% assign featured_posts = site.posts | where: 'featured', true %}

        {% for post in featured_posts limit:3 %}

            <div class="col-4_sm-12 post-item padded-05">
                <a href="{{ post.url }}">
                <div class="bg-image portrait" style="background-image:url( '{{ post.featured_image }}' );"></div>
                </a>
                <div class="padded-t-1">
                    
                    {% for item in post.categories %}
                        <span class="tag"> {{item}} </span>
                    {% endfor %}

                    <h2 class="margin-t-1"> {{ post.title }} </h2>
                    <p> {{ post.description }} </p>
                    <a href="{{ post.url }}" class="subtle-button"> Read More </a>

                </div>
            </div>

        {% endfor %}

    </div>

</section>
<!------------------------ CTA Banner  ------------------------>
<section class="bg-featured text-light padded center capped-width editable"> 

    <div class="capped-width-narrow">
        <h2> Get your FREE Bali Itinerary Guide </h2>
        <p> Sign up to the Nomade Dreamer News to receive your FREE Bali Itinerary Guide. Be the first one to know about a cool post coming out.  </p>
        <div class="ml-embedded" data-form="H5x1XH"></div>
    </div>

</section> 

<!------------------------About Banner------->
<section class="padded grid">
    <div class="capped-width-narrow center">
        <div class="col-5_sm-12">
            <img src="/images/profile-img.webp" class="profile-image" />
        </div>
        <div class="col-7_sm-12">
            <h2 class="center">About</h2>  
            <p>To make it short before my travel timeline, I am an Island, Sun, Ocean lover. In love with diving & freediving, dream of becoming a surfer one day. 
                <br />I am a foodie, always looking for the best places to have a food experience. </p>
            <p>Planet lover, so I try to make the most concious choices</p>
            <a href="/about.html" class="button">Tell me more</a>
        </div>
    </div>
</section>




