---
layout: default
title: Nomade Dreamer
seo:
  title: Nomade Dreamer Home Page
  description: |-
    Travel & lifestyle blog. 
    Tips for places to go, to eat, spa and more...
  social_image:
  twitter_card:
  keywords: travel blog, lifestyle blog, life abroad, city trips, photography
  hide-from-google: false
---
<!------------------------ Image Banner  ------------------------>
<section class="bg-image padded grid bg-overlay tall-90">

    <div class="col-12-middle center text-light">
        <h2> Travel. Eat. Chill. </h2>
        <p class="emphasis"> By Mélissa </p>
    </div>

</section>
<!------------------- featured latest post limit 3 ----------->
<section class="padded">

    <div class="capped-width grid-center">

    <div class="col-9 padded-05 center margin-b-1">
        <h2 class="editable"> Latest Posts </h2>
        <p class="editable">From week-end city trips, to spa day or places to see.</p>

        {% for post in site.posts limit:3 %}

            {% include post-loop-item-square.html %}

        {% endfor %}

    </div>

</section>

<!------------------------ CTA Banner  ------------------------>
<section class="bg-featured text-light padded center capped-width editable"> 

    <div class="capped-width-narrow">
        <h2> Get your FREE Bali Itinerary Guide </h2>
        <p> Sign up to the Nomade Dreamer News to receive your FREE Bali Itinerary Guide. Be the first one to know about a cool post coming out.  </p>
        <div class="ml-embedded" data-form="H5x1XH"></div>
    </div>

</section> 

<!------------------------About Banner------->
<section class="padded grid">
    <div class="capped-width-narrow center">
        <div class="grid">
        <div class="col-5_sm-12">
            <img src="/images/profile-2.webp" class="profile-image" />
        </div>
        <div class="col-7_sm-12">
            <h2 class="center">About</h2>  
            <p>To make it short before my travel timeline, I am an Island, Sun, Ocean lover. In love with diving & freediving, dream of becoming a surfer one day. 
                <br />I am a foodie, always looking for the best places to have a food experience. </p>
            <p>Planet lover, so I try to make the most concious choices</p>
            <a href="/about.html" class="button">Tell me more</a>
        </div>
    </div>
    </div>
</section>

<section class="grid padded">
    <div class="capped-width-narrow center">
        <div class="grid">
         <div class="col-7_sm-12">
            <h2> Are you soon going to Bali?</h2>
                 <p> Discover the full guide I made after staying two months in Bali. Save time and money, 93 pages of content.</p>
                <ul class="left">
                <li><span class="bold">Surf tips</span>, where to go, surf camp.</li>
                <li><span class="bold">Contacts</span>, to rent your scooter, drivers, visa...</li>
                <li><span class="bold">All my adresses</span> for all areas of Bali linked to google maps and instagram. A selection of accomadation by categories !</li>
                <li><span class="bold">More</span>,Co-working space, workout, yoga, waterfalls, temples. you will find it all here.</li>
                <li><span class="bold">4 itinerary</span>, Honey Moon, Sporty, Beach, Explorer.</li>
                <li><span class="bold">Bonus</span> I included Lombok, Gili Island and Nusa Islands.</li>
            </ul>
            <a href="https://nomadedreamer.gumroad.com/l/baliguide" class="button"> Discover the guide</a>
         </div>
         <div class="col-5_sm-12">
            <img src="/images/BALIGUIDE-logo.png" class="square" />
         </div>
        </div>
</section>

