---
layout: default
---


<section class="padded">
    <h2 class="center">Contact</h2>  
    <a href = "mailto: nomadedreamer@gmail.com">E-mail:nomadedreamer@gmail.com</a>
   
</section>

<!------------------------ CTA Instagram  Banner  ------------------------>
<section class="bg-featured text-light padded center capped-width editable"> 

    <div class="capped-width-narrow">
        <h2> Let's be Friends </h2>
        <a href="https://www.instagram.com/nomadedreamer/">
            <i class="fab fa-instagram"></i>
        </a>
    </div>

</section> 