<footer class="padded center bg-light">
    <div class="padded-1">
      <a href="/index" class="logo"> <img src="/images/logo-nomade.png"> </a>
    </div> 
    <nav class="inline socials">
      <a href="#">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a href="#">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#">
        <i class="fab fa-youtube"></i>
      </a>
    </nav>
    <nav class="padded-1">
       <a href="#"> Contact Me  </a>
      <a href="#"> Privacy Policy </a>
    </nav> 
   
  </footer>
  