
<header class="grid-middle bg-light">
    <div class="col-5">
      <a href="/index" class="logo"> <img src="/images/logo-nomade.png"> </a>
    </div> 
    <nav class="col-7 hide-sm right">
      <a href="/blog"> Blog </a>

      <div class="dropdown">
        <span class="dropdown-title button"> Categories &darr; </span>
        <div class="dropdown-content archives left">
          {% for cat in site.archives %}
          <a href="{{cat.url}}"> {{cat.category}} </a>
          {% endfor %}
          <!-- <a href="/bali"> Bali </a>
          <a href="/self-care"> Self Care </a>
          <a href="/travel"> Travel </a> -->
        </div> 
      </div>

      <div class="dropdown">
        <span class="dropdown-title button"> Destinations &darr;</span>
        <div class="dropdown-content destinations left">
          {% for cat in site.destinations %}
          <a href="{{cat.url}}"> {{cat.category}} </a>
          {% endfor %}
          <!-- <a href="/bali"> Bali </a>
          <a href="/self-care"> Self Care </a>
          <a href="/travel"> Travel </a> -->
        </div> 
      </div>
        
      <a href="/about"> About </a>
      <a href="/contact"> Contact </a>
    </nav> 
    <div class="col-7 right show-sm">
      <a class="hamburger-button"> &#9776; </a>
    </div>
  </header>
      <!------- Mobile Menu-------->
  
  <div class="mobile-menu"> 
    <nav>
      <a href="/blog">Blog</a>
      <a href="/blog-archive">Archives</a>
      <div class="dropdown">
        <span class="dropdown-title button" id="category" style="cursor:pointer" onclick="openNav()"> Categories &darr; </span>
       <!----<a class="dropdown-title" id="category" style="cursor:pointer" onclick="openNav()"> Categories > </a>-->
        <div class="dropdown-content submenu">
          {% for cat in site.archives %}
          <a href="{{cat.url}}"> {{cat.category}} </a>
          {% endfor %}
        </div> 
        <div class="dropdown">
          <span class="dropdown-title button" id="category" style="cursor:pointer" onclick="openNav()"> Destinations &darr; </span>
         <!----<a class="dropdown-title" id="category" style="cursor:pointer" onclick="openNav()"> Categories > </a>-->
          <div class="dropdown-content submenu">
            {% for cat in site.destinations %}
            <a href="{{cat.url}}"> {{cat.category}} </a>
            {% endfor %}
          </div> 
      <a href="/about">About</a>
      <a href="/contact"> Contact </a>
    </nav>
  </div>


  
  


<!-- 
  {% for link in site.archives %}
              <a href="{{link.url}}"> {{ link.category | capitalize }} </a>
          {% endfor %}

--> 