<!DOCTYPE html>
<html lang="en">

<head>

    {% include head.html %}
    
</head>

<body>
    <div class="progress-bar"> </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
      <!--<button class="back-to-top hidden"><i class="fa-solid fa-circle-arrow-up back-to-top-icon"></i></button>-->

    {% include inline-styles.html %}
    
    {% include site-header.html %}

    {{content}}

    {% include site-footer.html %}

    <!-- Javascript  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/main.js"></script>

</body>

</html>