---
layout: default
---


<section class="padded capped-width-narrow blog-content">


        <div class="intro padded-1 center margin-b-2">

            {% for item in page.categories %}
                <span class="tag"> {{ item }}</span>
            {% endfor %}
            
            <h1> {{ page.title }} </h1>
            
            <p class="post-info"> by {{ page.author }} | {{ page.date | date_to_string }} </p>
         
        </div>

        <div class="padded-1">

            {{content}}

        </div>
        
        {% include social-share.html %}


</section>

{% include related-posts.html %}

<section class="padded">
    <div class="capped-width-narrow">

        <h2 class="center">About Me</h2>  
        <p> Hey, I am Mélissa, 32 years old frenchie living in Denmark.</p>
        <p> I travelled the world since 2008 and still doing it.</p>
        <a href="#" class="button">Tell me more</a>
    
    </div>
</section>